@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      "base": #ef7a61,
    ),
  )
);

@use "element-plus/theme-chalk/src/index.scss";

@font-face {
  font-family: "iconfont";
  src: url("/assets/fonts/iconfont.ttf?t=1649852280962") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-discord:before {
  content: "\e6fe";
}

.icon-telegram:before {
  content: "\e8db";
}

.icon-medium:before {
  content: "\e87a";
}

.icon-twitter:before {
  content: "\e882";
}

:root {
  --color-primary-dark: #478efd;
  --grey-background: #f4f5f7;
}

body {
  margin: unset;
  font-family: "Inter", "Lato", "Helvetica Neue", Helvetica, "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  line-height: 1.5;
}

span,
p {
  font-size: var(--el-font-size-medium);
  margin-block-start: unset;
}

#app {
  display: flex;
  flex-direction: column;
}

.space {
  flex: 1;
}

@mixin title-underline {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #ffe177;
  text-decoration-thickness: 24px;
  text-underline-offset: -24px;
  text-decoration-skip-ink: none;
}


@mixin index-title {
  margin: 0;
  font-size: 48px;
  font-weight: 800;
  line-height: 48px;
  text-align: center;
  @include title-underline;
}

@mixin block {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.no-user-select {
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

button {
  &.reset {
    border: unset;
    background-color: unset;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
