@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      "base": #ef7a61,
    ),
  )
);

@use "element-plus/theme-chalk/src/index.scss";

@use "element-plus/theme-chalk/src/display.scss";

@use "element-plus/theme-chalk/src/mixins/mixins" as *;

@use "element-plus/theme-chalk/src/common/var" as *;

@font-face {
  font-family: "iconfont";
  src: url("/assets/fonts/iconfont.ttf?t=1649852280962") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/OpenSans.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat.ttf") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-discord:before {
  content: "\e6fe";
}

.icon-telegram:before {
  content: "\e8db";
}

.icon-medium:before {
  content: "\e87a";
}

.icon-twitter:before {
  content: "\e882";
}

:root {
  --color-primary-dark: #478efd;
  --grey-background: #f4f5f7;
}

body {
  margin: unset;
  font-family: "Inter", "Lato", "Helvetica Neue", Helvetica, "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  line-height: 1.5;
}

span,
p {
  margin-block-start: unset;
}

#app {
  display: flex;
  flex-direction: column;
}

.space {
  flex: 1;
}

@mixin title-underline($underline-color: #ffe177) {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: $underline-color;
  text-decoration-thickness: 24px;
  text-underline-offset: -24px;
  text-decoration-skip-ink: none;
}

@mixin _title() {
  margin: 0;
  font-size: 48px;
  font-weight: 800;
  line-height: 48px;
  text-align: center;
  @include res("sm-and-down", $breakpoints-spec) {
    font-size: 30px;
  }
}

@mixin index-title() {
  @include _title();
  @include title-underline;
  
}

@mixin title-yellow() {
  @include index-title;
}

@mixin title-red() {
  @include _title;
  @include title-underline(#ef7a61);
}

@mixin index-description {
  font-size: 22px;
  @include res("sm-and-down", $breakpoints-spec) {
    font-size: 20px;
  }
  color: var(--el-color-info);
  line-height: 1.5;
  text-align: center;
  font-weight: 400;
}

@mixin index-container {
  @include res("md-and-down", $breakpoints-spec) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@mixin block {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.no-user-select {
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

button {
  &.reset {
    border: unset;
    background-color: unset;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
