body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  overflow-x: hidden;
  
}
::selection{
  color:white !important;
  background:tomato !important;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.MuiPaper-rounded{
  border-radius: 20px !important;
}
@font-face {
	font-family:'ANC';
	src: url('Poppins-Regular.ttf');

}
@font-face {
	font-family:'ANC-SeBold';
	src: url('Poppins-SemiBold.ttf');
}
@font-face {
	font-family:'ANC-Bold';
	src: url('Poppins-Bold.ttf');
}
@font-face {
	font-family:'ANC-Light';
	src: url('Poppins-Light.ttf');
}

@media (min-width:3200px){
  .ant-input{
    font-size: 50px !important;
  }
  .ant-input-number-input{
    font-size: 50px !important;
    height: 100px !important;
  }
  .ant-select-selection-search-input{
    font-size: 50px !important;
    height: 100px !important;
  }
  .ant-select-selector{
    height: 100px !important;
  }
  .ant-select-item .ant-select-item-option{
    font-size: 50px !important;
    height: 100px !important;
    
  }
  .ant-select-item-option-content{
    font-size: 50px !important;
    height: 100px !important;
    line-height: 50px !important;
  }
  .ant-select-selection-placeholder{
    font-size: 50px !important;
    height: 100px !important;
    line-height: 100px !important;
  }
  .ant-select-selection-item{
    font-size: 50px !important;
    line-height: 100px !important;
  }
  .ant-upload-list-item-name{
    font-size: 28px !important;
  }
  .anticon-inbox{
    font-size: 95px !important;
  }
  .MuiDialog-paperWidthSm{
    max-width: 2000px !important;
  }
  .ant-empty-img-default{
    width:400px !important;
    height:400px !important;
  }
  .ant-empty-image{
    height:400px !important;
  }
  .MuiPaper-rounded{
    border-radius: 40px !important;
  }
}

.MuiDialog-paperWidthSm{
  max-width: 2000px !important;
}